.aliniar{
    background-color: white;
    width: 300px;
    border-radius: 20px;
     border-radius: 10px;
    border: 2px solid black ;
    box-shadow: 8px 8px 0px 0px black;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}
body {
    background-color: hsl(47, 88%, 63%);
    margin: 0;
    font-family: 'Figtree', sans-serif;
    display: flex;

    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}
img {
    max-width: 100%;
   
}
h1:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
    font-weight: 800;
    font-size: 24px;
    margin: 10px 0;
}
.user
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.categoria {
    background-color: hsl(47, 88%, 63%);
    padding: 4px 12px;
    font-weight: 800;
    border: 1px solid black;
    border-radius: 4px;
    display: inline-block;
}
.user img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.fecha {
    font-size: 14px;
    font-weight: hsl(0, 0%, 42%);
    margin: 0;
}
.descripcion {
    font-size: 14px;
    color: hsl(0, 0%, 42%);
    margin: 0;
}
h1 {
    font-size: 20px;
    font-weight: 800;
    margin: 5px 0;
    cursor: pointer;
}
h1:hover {
    color: hsl(47, 88%, 63%);
}